@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);@charset "UTF-8";
.navbar-login
{
    width: 305px;
    padding: 10px;
    padding-bottom: 0px;
}

.navbar-login-session
{
    padding: 10px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.icon-size
{
    font-size: 87px;
}
/*footer*/
.footer
{
background-color:#0c1a1e;padding:3% 4%;
}
.footer h4
{
color:#fff;
}
 
/* section containg about and address  */
.about_scanfcode p:first-child  // styles only first paragraph
{
color:#f2f2f2;
line-height:140%;
font-size:13px;
width:100%;
text-align:justify;
}
.about_scanfcode p
{
color:#d3d3d3;
font-size:12px;
}
.about_scanfcode i //icons
{
color:#666;
}
 
/*  general link section */
.links_scanfcode li
{
 list-style-type:none;margin:10px 0px;
}
.links_scanfcode a
{
 color:#666;
 
}
/* feedback and social icons */
.feedback button
{
border-radius:0px;height:47px;
}
.feedback input:focus
{
 border:solid 1px green;
}
.feedback li
{
  list-style-type:none;
  display:inline;
  margin:30px 10px;
}
.feedback i
{
  font-size:24px;
     -webkit-transition-duration: 0.5s;
     -moz-transition-duration: 0.5s;
     -o-transition-duration: 0.5s;
}
.feedback a:hover i
{
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
   -o-transform: scale(1.2);
}
 .fa-facebook:hover {
     color: #3B5998;
 }
 .fa-twitter:hover {
     color: #4099FF;
 }
 .fa-google-plus:hover {
     color: #d34836;
 }
.fa-linkedin:hover {
     color: #f39c12;
 }
.fa-pinterest:hover
{
  color:#ff00cc;
}

.search-location{
	padding-top: 50px;
}

.row{
	padding-top: 50px;
}
/*item*/
.product-item {
    padding: 15px;
    background: #fff;
    margin-top: 20px;
    position: relative;
}
.product-item:hover {
    box-shadow: 5px 5px rgba(234, 234, 234, 0.9);
}
.product-item:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    font-size: 0;
    line-height:0;
}
.sticker {
    position: absolute;
    top: 0;
    left: 0;
    width: 63px;
    height: 63px;
}
.sticker-new {
    background: url(http://keenthemes.com/assets/bootsnipp/new.png) no-repeat;
    left: auto;
    right: 0;
}
.pi-img-wrapper {
    position: relative;
}
.pi-img-wrapper div {
    background: rgba(0,0,0,0.3);
    position: absolute;
    left: 0;
    top: 0;
    display: none;
    width: 100%;
    height: 100%;
    text-align: center;
}
.product-item:hover>.pi-img-wrapper>div {
    display: block;
}
.pi-img-wrapper div .btn {
    padding: 3px 10px;
    color: #fff;
    border: 1px #fff solid;
    margin: -13px 5px 0;
    background: transparent;
    text-transform: uppercase;
    position: relative;
    top: 50%;
    line-height: 1.4;
    font-size: 12px;
}
.product-item .btn:hover {
    background: #e84d1c;
    border-color: #c8c8c8;
}

.product-item h3 {
    font-size: 14px;
    font-weight: 300;
    padding-bottom: 4px;
    text-transform: uppercase;
}
.product-item h3 a {
    color: #3e4d5c;
}
.product-item h3 a:hover {
    color: #E02222;
}
.pi-price {
    color: #e84d1c;
    font-size: 18px;
    float: left;
    padding-top: 1px;
}
.product-item .add2cart {
    float: right;
    color: #a8aeb3;
    border: 1px #ededed solid;
    padding: 3px 6px;
    text-transform: uppercase;
}
.product-item .add2cart:hover {
    color: #fff;
    background: #e84d1c;
    border-color: #e84d1c;
}
/*end of item*/

/*pagination*/
.pagination>li>a, .pagination>li>span { border-radius: 50% !important;margin: 0 5px;}
/*end of pagination*/

/*cart*/
ul.dropdown-cart{
    min-width:250px;
}
ul.dropdown-cart li .item{
    display:block;
    padding:3px 10px;
    margin: 3px 0;
}
ul.dropdown-cart li .item:hover{
    background-color:#f3f3f3;
}
ul.dropdown-cart li .item:after{
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}
/*end of cart*/